.container {
  position: inherit;
}
.top_component{
  position: absolute;
  top: 0%;
  
}
/** Screens below the size fo laptop screen*/
@media all and (max-width: 1600px) {
  .top_component {
    font-size: 48px;
    left: 5%;
  }
}
/** Screens below the size fo laptop screen*/
@media all and (max-width: 960px) {
  .top_component {
    font-size: 48px;
  }
}
/** Screens below the size fo tablet screen*/
@media all and (max-width: 768px) {
  .top_component {
    font-size: 32px;
  }
}

/** Screens below the size fo mobile screen*/
@media all and (max-width: 480px) {
  .top_component {
    font-size: 18px;
  }
}
