@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
.container {
  height: auto;
  display: flex;
  position: absolute;
}
.headline {
  position: relative;
  align-self: flex-start;
  width: 40vw;
  top: 1vh;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.1);
  clip-path: url(#lockup-headline-mask-path);
}
.visually-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media all and (max-width: 1024px) {
  /* h1 {
    transform: translateX(-258px);
  }
   */
}
/** Screens below the size fo Ultrawide screen*/
@media all and (max-width: 1600px) {
  .headline {
    font-size: 64px;
    transform: translateX(-70px);
    height: 80px;
  }
}
@media all and (max-width: 1024px) {
  .headline {
    font-size: 64px;
    transform: translateX(-30px);
    height: 80px;
  }
}
/** Screens below the size fo laptop screen*/
@media all and (max-width: 960px) {
  .headline {
    font-size: 64px;
    transform: translateX(10px);
    height: 80px;
  }
}
/** Screens below the size fo tablet screen*/
@media all and (max-width: 768px) {
  .headline {
    font-size: 44px;
    transform: translateX(-4vw);
    height: 50px;
  }
}
/** Screens below the size fo mobile screen*/
@media all and (max-width: 480px) {
  .headline {
    left: 10px;
    font-size: 24px;
    transform: translateX(-2.9vw);
    height: 50px;
  }
}
