@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto';
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgb(255, 255, 255);
}
.timeline {
  top: 9vh;
  width: 80%;
  height: auto;
  max-width: 200vw;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
}

.timeline ul {
  list-style: none;
}
.Heading_top {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}
.subHeading {
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 10px;
}
.date {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.para {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 40px;
  width: 50vw;
}


@media only screen and (min-width: 768px) {
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: rgb(0, 0, 0);
  }
  .timeline ul li {
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    left: -11.6%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    top: 0px;
  }
  .list {
    width: 90%;
    float: right;
    position: relative;
    margin-bottom: 50px;
  }
  .Heading_top {
    font-size: 32px;
    left: 20px;
  }
  .subHeading {
    font-size: 26px;
    left: 9px;
  }
  .para {
    font-size: 18px;
  }
  .list:hover::before {
    background-color: rgb(153, 153, 153);
  }
}
