@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: black;
  color: whitesmoke;
  text-align: left;
}

.container {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  height: 22px;
  left: 10%;
  right: 10%;
  top: 0px;
  justify-content: space-between;
  padding-top: 5%;
}

.resume {
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}

/*# --------------------for body ----------------*/
.body_flex {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
}

.hero {
  width: 385px;
  height: 385px;
  transition: all 300ms ease;
  animation: moveitback 1500ms ease forwards;
  will-change: transform;
}
.image_container {
  display: flex;
  position: relative;
  align-items: flex-start;
  left: 10%;
}

.hero:hover + .hero {
  opacity: 1;
  animation: moveit 1500ms ease forwards;
  will-change: transform;
}
.body_heading {
  width: 70%;
  height: 81px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.body_description {
  height: 96px;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  padding-top: 14px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  text-decoration: none;
  text-align: center;
  position: relative;
  width: 173.64px;
  height: 38px;
  bottom: 20px;
  background-color: #e5e7eb;
  color: black;
  border-radius: 5px;
}
.socials {
  position: relative;
  width: 210px;
  height: 40px;
  display: flex;
  justify-content: space-around;
}

.social_icon {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.social_icon:hover {
  font-size: 33px;
}

.resume_link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
/** PSUDO ELEMENTS */
body::before {
  content: ' ';
  position: relative;
  width: 177.67px;
  height: 177.67px;
  left: -100px;
  top: -40px;

  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #ff29c3 100%);
  opacity: 0.8;
  filter: blur(100px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
body::after {
  content: ' ';
  position: relative;
  width: 264.66px;
  height: 264.66px;
  left: 220px;
  top: 722.15px;
  
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
  opacity: 0.6;
  filter: blur(200px);
  transform: rotate(-45deg);
}

/*+ ------------------MOBILE DEVICES--------------------- */
@media (max-width: 768px) {
  .body_text_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero {
    left: 0px;
    padding-right: 20px;
  }
  /* experiement */
  .body_flex {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .body_heading {
    text-align: center;
    padding: 50px;
    padding-bottom: 10px;
  }
  .body_description {
    width: 80%;
    text-align: center;
    margin-left: 0px;
  }
  .footer {
    top: 10px;
  }
  .image_container {
    position: relative;
    left: -53px;
  }
}

/*}------------------TAB DEVICES--------------------- */
@media (min-width: 768px) {
  .resume {
    width: 101px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
  }
  .body_flex {
    align-items: center;
    /* left: 10%; */
    position: relative;
  }
  .switch_size_controller {
    font-size: 24px;
  }

  .body_heading {
    width: 346px;
    height: 162px;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
  }
  .body_description {
    width: 90%;
    height: 96px;
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
  }
}

/*{ ------------------lAPTOP DEVICES--------------------- */
@media (min-width: 1020px) {
  .nav {
    height: 36px;
  }
  .resume {
    width: 101px;
    font-size: 28px;
  }

  .switch_size_controller {
    font-size: 30px;
  }

  .body_heading {
    font-style: normal;
    width: 570px;
    height: 200px;
    font-size: 60px;
    line-height: 74px;
  }
  .body_description {
    width: 60%;
    width: 586px;
    height: 101px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 58px;
  }
  .hero {
    left: 10%;
    width: 650px;
    height: 650px;
  }
  .button {
    width: 207px;
    height: 48px;
    background: #e5e7eb;
    border-radius: 4px;
  }
  .footer {
    align-items: flex-start;
    position: absolute;
    top: 87%;
    left: 16.4%;
  }
  .body_flex {
    align-items: flex-start;
  }
}

/*? ------------------DEXKTOP DEVICES--------------------- */
@media (min-width: 1200px) {
  /* code */
}

.text_decoration1 {
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #f59e0b, #ef4444);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.text_decoration2 {
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #5b21b6, #9d174d);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@keyframes moveit {
  0% {
    transform: translateY(0) scale3d(0.96, 0.96, 1);
  }
  20% {
    transform: translateY(80px) scale3d(1.1, 1.1, 1);
  }
  40% {
    transform: translateY(50px) scale3d(0.98, 0.98, 1);
  }
  60% {
    transform: translateY(62px) scale3d(1.05, 1.05, 1);
  }
  80% {
    transform: translateY(60px) scale3d(1.01, 1.01, 1);
  }
  100% {
    transform: translateY(60px) scale3d(1, 1, 1);
  }
}

@keyframes moveitback {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0) scale3d(0.96, 0.96, 1);
  }
}

@keyframes scale {
  0% {
    transform: scale3d(0.96, 0.96, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
